<%- include('../includes/head.ejs') %>
<body>
    <div class="box">
        <div id="medcineList" class="list">
            <% medicines.forEach(medi => {%>
                <article class="card_medicine_item">
                    <header class="card__header">
                        <h1 class="medicine__name"><%= medi.medicineId.name %></h1>
                    </header>
                    <form class="medicine-form" action="/admin/add-medicine" method="POST">
                        <div class="form-control">
                            <label for="quantity">수량: </label>
                            <input class="input" type="number" min="0" name="quantity" id="quantity"  step="1">
                            <button id="ok" name="medicineId" type="submit" value="<%= medi.medicineId._id %>">약품 추가하기</button>
                        </div>
                    </form>
                </article>  
            <% }) %>
        </div>

        <!-- <form class="medicine-form" action="/admin/add-medicine" method="POST">
            <div class="form-control">
                <label for="name">약품명</label>
                <input type="text" name="name" id="name">
            </div>
        </form> -->
    </div>
<%- include('../includes/end.ejs') %>    