<%- include('../includes/head.ejs') %>
    <body>
        <header>
            <a href="machine_main.html" class="btn" id="previous">이전으로</a>
            <img src="images/logo.png" alt="logo" class="logo">
            <a href="machine_main.html" class="btn" id="home">처음으로</a>
        </header>
        <div class="box">
            <aside class="menubar">
                <a href="#">dd</a>
                <a href="#">dd</a>
            </aside>
            <aside class="sidebar">
                <div class="payment">
                    <div>결제금액</div>
                    <div id="price">0</div>
                    <div id="ok">결제하기</div>
                    <div id="cancel">취소하기</div>
                </div>
            </aside>
            <div class="list">
                <iframe src="machine_list.html" width="550px" height="290px"></iframe>
            </div>
        </div>
<%- include('../includes/end.ejs') %>     