<%- include('./includes/head.ejs') %>

<body>
    <div class="box">
        <header style="text-align: center;">
            <img src="/images/logo.png" alt="logo" class="logo">
        </header>
        <h1> Page Not Found ! </h1>
        <a href="/"> return index page </a>
    </div>
</body>

<%- include('./includes/end.ejs') %> 