@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body { 
    width: 800px;
    height: 480px;
    margin: 2% auto;
    padding: 5px;
    font-family: 'GmarketSansMedium';
    user-select: none;
    border: solid 1px black;
}

header {
    text-align: center;
    padding: 10px;
}

.logo {
    margin-top: 5px;
    width: 300px;
    height: 50px;
}

.medi {
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

.btn {
    text-align: center;
    border: 1px solid #27AE60;
    border-width: thick;
    border-radius: 15px;
    display: inline-block;
    color: black;
    text-decoration-line: none;
}

#option {
    height: 70%;
    width: 38%;
    background-color: #27AE60;
    font-size: 400%;
    line-height: 340px;
    margin: 2% 5%;
}

#previous {
    height: 50px;
    width: 120px;
    margin-right: 2px;
    font-size: 20px;
    line-height: 50px;
    float: right;
}

#home {
    height: 50px;
    width: 120px;
    margin-left: 2px;
    font-size: 20px;
    line-height: 50px;
    float: left;
}

  
.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
margin: 0;
}

.card__image {
width: 100%;
}

.card__image img {
width: 100%;
}

.card__actions {
padding: 1rem;
text-align: center;
}

.card__actions button,
.card__actions a {
margin: 0 0.25rem;
}

.box {
    width: 100%;
    display: inline-block;
}

.video {
    height: 300px;
    width: 750px;
    margin: 2% 25px 0;
    display: inline-block;
    border-radius: 15px;
    border-width: thick;
    border: 1px solid #27AE60;
}

.telephone {
    background: no-repeat;
    border: none;
    width: 50px; 
    height: 50px;
    margin: 0 21.5% 0;
    cursor: pointer;
}



.grid {
    width: 500px;
    margin: 0 auto;
    background-color: dimgrey;
    text-align: center;
    font-size: 0;
}

.grid_item {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
}

.menubar {
    width: 580px;
    height: 50px;
    margin: 0 10px;
    line-height: 50px;
    font-size: 2rem;
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #27AE60;
}

.menubar_a {
    width: 20px;
    height: 50px;
    margin: 0 25px;
    color: black;
    border-radius: 15px;
    border-width: 5px;
    border: 1px solid #27AE60;
}

.list {
    width: 580px;
    min-height: 300px;
    margin: 10px;
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #27AE60;
}

.chest {
    width: 17.5%;
    height: 40%;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

.marchandise {
    margin: 5% 10% 10%;
    width: 100px;
    height: 100px;
}

.sidebar {
    width: 125px;
    height: 375px;
    margin: 0 10px;
    padding: 5px;
    font-size: 20px;
    float: right;
    border-radius: 15px;
    border: 1px solid #27AE60;
}

.payment {
    width: 120px;
    height: 40px;
    margin: 10px 2.5%;
    position: relative;
    top: 55%;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}

#price {
    height: 10px;
    line-height: 0px;
    margin: 10px 0;
}

#ok {
    width: 110px;
    height: 30px;
    margin: 5px 0;
    border-radius: 15px;
    background-color: #5DADE2;
}

#cancel {
    margin: 5px 0;
    border-radius: 15px;
    background-color: #E74C3C;
}
