<%- include('../includes/head.ejs') %>      
    <body>
        <div class="box">
            <header>
                <a href="#">💊<span style="color: #27AE60;"> | </span>PHARMACY</a>
            </header>
            <aside class="menubar"></aside>
            <a href="vending" class="slide" onclick="changeBtnColor(this)">자판기 <</a>
            <a href="pharmacist" class="slide" onclick="changeBtnColor(this)">> 약사와 상담 </a>
        </div>
    <script src="/js/vendingOrder.js"></script>
<%- include('../includes/end.ejs') %>     