<%- include('../includes/head.ejs') %>      
</head>
    <body>
        <a href="/vending" class="option">자판기</a>
        <a href="/pharmacist" class="option">영상통화</a>
<%- include('../includes/end.ejs') %>     