<%- include('../includes/head.ejs') %>      
    <body>
        <header>
            <img src="/images/logo.png" alt="logo" class="logo">
        </header>
        <a href="vending" class="btn" id="option">자판기</a>
        <a href="pharmacist" class="btn" id="option">영상통화</a>
<%- include('../includes/end.ejs') %>     