<%- include('../includes/head.ejs') %>
</head>
    <body>
        <header>
            <a href="/" class="option" id="previous">이전으로</a>
            <a href="/" class="option" id="home">처음으로</a>
        </header>
        <div class="video" id="Pharmacy"></div>
        <div class="video" id="self"></div>
        <div class="list">
            
        </div>
<%- include('../includes/end.ejs') %>     