<%- include('../includes/head.ejs') %>
<body>
    <header>
        <a href="/" class="btn" id="previous">이전으로</a>
        <img src="/images/logo.png" alt="logo" class="logo">
        <a href="/" class="btn" id="home">처음으로</a>
    </header>
    <div class="box">
        <div class="video" id="Pharmacy"></div>
        <div class="video" id="self"></div>
        <img src="/images/telephone_up.png" alt="telephone" class="telephone" id="up" onclick="telephone_up">
        <img src="/images/telephone_down.png" alt="telephone" class="telephone" id="down" onclick="telephone_down">
    </div>
<%- include('../includes/end.ejs') %>    