<%- include('../includes/head.ejs') %>
</head>
    <body>
        <main>
            <header>
                <a href="/" class="option" id="previous">이전으로</a>
                <a href="/" class="option" id="home">처음으로</a>
            </header>
            <% for (let medi of medicines) { %>
                <div class="card__content">
                <h2 class="medi_id">$
                    <%= medi._id %>
                </h2>
                <p class="medi_qauntity">
                    <%= medi.qauntity %>
                </p>
                </div>
            <% } %>
        </main>
<%- include('../includes/end.ejs') %>     