<%- include('../includes/head.ejs') %>
    <body>
        <header>
            <a href="machine_main.html" class="btn" id="previous">이전으로</a>
            <img src="images/logo.png" alt="logo" class="logo">
            <a href="machine_main.html" class="btn" id="home">처음으로</a>
        </header>
        <div class="box">
            <div class="chest"></div>
        </div>
<%- include('../includes/end.ejs') %>     